.copyLinkContainer {
  margin-bottom: 16px;

  .inviteFriendsText {
    margin: 0 8px 0 auto;
    font-size: 1.1rem;
  }

  .playlistURLTextBox {
    display: inline-block;
    font-size: 0.9rem;
    border-bottom: 2px transparent solid;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    min-width: 0;

    &:hover {
      cursor: pointer;
      border-bottom: 2px #1db954 solid;
    }

    &:focus {
      outline-width: 0;
    }
  }
}
