.membersListContainer {
  flex: 1;
  overflow: auto;
  min-height: 0;

  .membersList {
    border-color: white;
    width: 100%;
    border-collapse: collapse;

    .membersListRow {
      height: 64px;
      border-bottom: 1px white solid;

      td {
        padding: 0;

        .displayName {
          font-size: 1.1rem;
          font-family: Poppins, sans-serif;
        }
      }

      .profilePictureCell {
        .profilePicture {
          display: inline-block;
          vertical-align: middle;
          height: 48px;
          width: 48px;
          margin-right: 8px;
        }

        .fallbackPicture {
          height: 48px;
          width: 48px;
        }
      }

      .followButtonCell {
        text-align: right;

        .followButton {
          vertical-align: middle;
        }
      }
    }
  }
}

.profileLink {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 450px) {
  .followButtonCell {
    display: none !important;
  }
}
