#landingContainer {
  position: relative;

  .mainLandingContainer {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 36px 16px 72px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;

    @media only screen and (max-width: 1060px) {
      & {
        height: auto;
      }
    }

    .titleContainer {
      margin-bottom: 0px;

      .mainLandingLogo {
        height: 64px;
        position: relative;
        top: 4px;
        margin-right: 8px;

        @media only screen and (max-width: 540px) {
          & {
            height: 60px;
          }
        }
      }

      .title {
        display: inline-block;
        margin: 0 0 -8px 0;

        @media only screen and (max-width: 540px) {
          & {
            font-size: 60px;
          }
        }
      }

      .description {
        max-width: 600px;
        margin-top: 0;
        font-size: 1.3rem;

        @media only screen and (max-width: 540px) {
          & {
            font-size: 20px;
          }
        }
      }

      .poweredByContainer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: middle;
        margin-bottom: 24px;

        .poweredByText {
          display: inline-block;
          margin: 0;
        }

        .spotifyLogo {
          display: inline-block;
          height: 36px;
          margin-left: 8px;
        }

        @media only screen and (max-width: 540px) {
          & > .poweredByText {
            font-size: 20px;
          }

          & > .spotifyLogo {
            height: 28px;
          }
        }
      }
    }

    .featuresContainer {
      display: flex;
      max-width: 1100px;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;

      .featureBox {
        min-height: 240px;
        max-width: 400px;
        display: inline-block;
        border: 4px white solid;
        border-radius: 16px;
        padding: 32px;
        margin: 16px;

        h3 {
          margin: 0;

          @media only screen and (max-width: 540px) {
            & {
              font-size: 28px;
            }
          }
        }

        p {
          font-size: 1.2rem;

          @media only screen and (max-width: 540px) {
            & {
              font-size: 16px;
            }
          }
        }

        .getStartedButton {
          display: inline-block;
          border: 2px solid white;
          border-radius: 4px;
          padding: 8px;
          color: white;
          text-decoration: none;
          font-size: 1.2rem;
          font-family: Poppins, sans-serif;
          background-color: transparent;

          &:hover {
            background-color: white;
            color: #23272a;
            transition: background-color 0.2s, color 0.2s;
            cursor: pointer;
          }
        }

        .joinPartyInput {
          margin-top: 8px;
          border-bottom: 2px white solid;
          text-align: center;
          font-size: 1.2rem;
          width: 80%;
        }
      }
    }

    .downChevronLinkWrapper {
      position: absolute;
      bottom: 24px;
      .downChevron {
        filter: invert(100%);
        height: 28px;
      }
    }
  }

  .stepsContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 500px;
    padding: 36px 16px;
    background-color: #000000;

    .innerStepsContainer {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: top;

      & > div {
        @media only screen and (max-width: 1200px) {
          & {
            width: 100%;
          }
        }

        .stepBox {
          display: inline-block;
          flex: 1 1 auto;
          max-width: 300px;
          margin: 24px;

          .stepIcon {
            height: 96px;
            width: 96px;
            margin-bottom: 16px;
          }

          .stepTitle {
            margin: 0;
          }
        }
      }
    }
  }

  .infoContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;

    .infoHeader {
      width: 100%;
      margin: 0;

      @media only screen and (max-width: 540px) {
        & {
          font-size: 36px;
        }
      }
    }

    .metrics {
      width: 100%;
      margin: 0 0 24px 0;
    }

    .sliderContainer {
      flex: 1 1 0;
      min-width: 0;
      max-width: 889px;
      border: 4px white solid;
      border-radius: 16px;
      padding: 4px;
      background-color: #23272a;

      .slick-slide img {
        min-width: 0;
        max-width: 889px;
        margin: auto;
        border-radius: 16px;
      }
    }

    .partyScreenshot {
      height: 500px;
      border: 4px white solid;
      border-radius: 16px;
    }
  }

  .footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 36px;

    .footerLogoLink {
      margin: 16px 0 36px 0;

      .footerLogo {
        height: 56px;
      }
    }

    .linksContainer {
      .footerLink {
        display: inline-block;
        margin: 0 24px;
        border-bottom: 2px transparent solid;
        color: white;
        text-decoration: none;

        &:hover {
          border-bottom: 2px #1db954 solid;
        }
      }
    }
  }
}
